nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.navbar ul{
	list-style: none;
}

.navbar .nav-links {
  gap: 3rem;
  list-style: none;
  font-size: 1.5rem;
}

.navbar .logo {
  font-size: 2rem;
}

.navbar .logo img{
	height: 100px;
}

.navbar .logo:hover {
  cursor: default;
}

.navbar ul{
	list-style: none;
}

.navbar .navLink {
	/* font-size: 1rem; */
	position: relative;
	text-transform: uppercase;
	transition: all 300ms ease;
	width: fit-content;
	cursor: pointer;
}
.navbar .navLink:hover {
	transform: skew(10deg);
}
.navbar .navLink::before {
	content: attr(data-name);
	position: absolute;
	top: 0;
	left: -20px;
	background: var(--bgcolor);
	height: 3rem;
	overflow: hidden;
	transition: all 300ms ease;
	padding-left: 20px;
}
.navbar .navLink:hover::before {
	top: -30px;
	left: 10px;
	color: var(--primaryColor);
}

.navbar .navLink::after {
	content: "";
	height: 1px;
	width: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: var(--primaryColor);
	transition: all 300ms ease;
}

.navbar .navLink:hover::after {
	width: 120%;
	outline: 5px solid var(--bgcolor);
}