nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.navbar ul{
	list-style: none;
}

.navbar .nav-links {
  gap: 3rem;
  list-style: none;
  font-size: 1.5rem;
}

.navbar .logo img{
	height: 100px;
}

.navbar ul{
	list-style: none;
}

.navbar .navLink {
	display: flex;
	text-transform: uppercase;
	transition: all 300ms ease;
	width: fit-content;
	cursor: pointer;
}

.navbar .navLink:hover {
	color: var(--primaryColor);
}

.navbar .navButtons {
	/* border: 1px solid var(--primaryColor); */
	margin-bottom: 5%;
}